@font-face {
  font-family: "iconfont"; /* Project id 5154131 */
  src: url('./iconfont-subset.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon5:before {
  content: "\e693";
}

.icon-icon6:before {
  content: "\e694";
}

.icon-icon7:before {
  content: "\e698";
}

.icon-icon8:before {
  content: "\e699";
}

.icon-a-dingdan2:before {
  content: "\e623";
}

.icon-shouye2:before {
  content: "\e612";
}

.icon-shouye4:before {
  content: "\e614";
}

.icon-shouye5:before {
  content: "\e615";
}

.icon-shouye9:before {
  content: "\e61b";
}

.icon-shouye11:before {
  content: "\e61f";
}

.icon-shouye12:before {
  content: "\e620";
}

.icon-shouye16:before {
  content: "\e629";
}

.icon-shouye17:before {
  content: "\e62e";
}

.icon-shouye19:before {
  content: "\e631";
}

.icon-shouye20:before {
  content: "\e632";
}

.icon-caipu:before {
  content: "\e6a1";
}

.icon-bingxiang1:before {
  content: "\e90b";
}

.icon-shouye:before {
  content: "\e621";
}

.icon-shouye1:before {
  content: "\e62f";
}

.icon-bingxiang:before {
  content: "\e60c";
}
